In [2]:
import psycopg2
#import config as cfg
import pandas as pd

postgres_pwd = 'pass' # This is the password you entered when you set up PGSQL

con = psycopg2.connect(database='drinks', user='postgres', password=postgres_pwd,
                       host='127.0.0.1', port='5432')  # This should work if you left everything as default

cur = con.cursor()

#cur.execute(open('drinks.sql', 'r').read())  # Uncomment this the first time you run the db

In [3]:
query = con.cursor()

In [4]:
# execute a simple query
query.execute(
"""
SELECT *
FROM orders
LIMIT 6;
""")

response = query.fetchall()

for row in response:
    print(row)

('person 1', '2016-10-16', 'bar 9', 'drink 4', 1)
('person 1', '2016-10-16', 'bar 9', 'drink 44', 1)
('person 1', '2016-10-22', 'bar 19', 'drink 1', 4)
('person 1', '2016-10-22', 'bar 19', 'drink 9', 1)
('person 1', '2016-10-22', 'bar 19', 'drink 42', 2)
('person 1', '2016-10-01', 'bar 18', 'drink 43', 1)

In [5]:
# raw response
response

[('person 1', '2016-10-16', 'bar 9', 'drink 4', 1),
 ('person 1', '2016-10-16', 'bar 9', 'drink 44', 1),
 ('person 1', '2016-10-22', 'bar 19', 'drink 1', 4),
 ('person 1', '2016-10-22', 'bar 19', 'drink 9', 1),
 ('person 1', '2016-10-22', 'bar 19', 'drink 42', 2),
 ('person 1', '2016-10-01', 'bar 18', 'drink 43', 1)]

## Question 1

In [ ]:


select bar, avg(price) from has_on_menu group by bar;